{% extends 'base.html.twig' %}

{% block title %}Management des lieux{% endblock %}

{% block body %}

    <h1>Gérer les lieux</h1>
    <div class="button-group">
        <button type="button" class="btn btn-outline-secondary"><a href="{{ path('nouveauLieu') }}">Ajouter un lieu</a>
        </button>
        <p>Filtrer les lieux</p>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Ville</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for lieu in lieux %}
            <tr>
                <th scope="row">{{ lieu.nom }}</th>
                <td><a href="{{ path('detailLieu', {id:lieu.id}) }}">{{ lieu.name }}</a></td>
                <td>
                    <button class="delete" value="{{ lieu.id }}" type="submit" class="btn btn-outline-dark">Supprimer</button>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(".delete").click(function () {
            if (confirm("Etes vous sur de vouloir supprimer ce lieu ?")) {
                $.ajax({
                    url: "/deleteZone/" + $(this).val(),
                })
                    .done(function () {
                        alert("Votre zone a bien été effacée !");
                        location.reload()
                    })
            }
        });
    </script>

{% endblock %}
