{% extends 'base.html.twig' %}

{% block title %}Management des groupes{% endblock %}

{% block body %}

    <h1>Gérer les groupes</h1>
    <div class="button-group">
        <button type="button" class="btn btn-outline-secondary"><a href="{{ path('nouveauGroupe') }}">Ajouter un groupe</a>
        </button>
        <p>Filtrer les groupes</p>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            {% if groupe.createur == app.user %}
            <tr>
                <td><a href="{{ path('detailGroupe', {id:groupe.id}) }}">{{ groupe.nom }}</a></td>
                <td>
                    <button class="delete btn btn-outline-dark" value="{{ groupe.id }}" type="submit">Supprimer</button>
                    <button value="{{ groupe.id }}" class="btn btn-outline-dark"><a href="{{path('ajouterParticipant', {'id':groupe.id})}}">Ajouter des participants</a></button>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(".delete").click(function () {
            if (confirm("Etes vous sur de vouloir supprimer ce lieu ?")) {
                $.ajax({
                    url: "/deleteZone/" + $(this).val(),
                })
                    .done(function () {
                        alert("Votre zone a bien été effacée !");
                        location.reload()
                    })
            }
        });
    </script>

{% endblock %}
