{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <h1> {{ participant.pseudo }}</h1>
        </div>

        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-3">
                <img style="height: 200px; width: auto; " src="{{ asset('uploads/photos/'~participant.photo) }}" alt="photo de profil">
            </div>

            <div class="col-6">
                <h3>Prénom : {{ participant.prenom }}</h3>
                <h3>Nom : {{ participant.nom }}</h3>
                <h3>Téléphone : {{ participant.telephone }}</h3>
                <h3>Email : {{ participant.mail }}</h3>
                <h3>Site de rattachement : {{ participant.site }}</h3>
            </div>
        </div>
        <div>
            <br>
        </div>

        <div class="row justify-content-center">

            {% if app.user == participant %}
                <a class="btn btn-secondary" href="{{ path("modifierProfil") }}"> modifier </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-secondary" href="{{ path("supprimer", {id: participant.id}) }}">Supprimer</a>
            {% endif %}
        </div>

    </div>
{% endblock %}