{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
    <div>
        <h1> {{ participant.pseudo }}</h1>
        <img src="{{ asset('uploads/photos/'~participant.photo) }}" alt="photo de profil">
        <h3>Prénom : {{ participant.prenom }}</h3>
        <h3>Nom : {{ participant.nom }}</h3>
        <h3>Téléphone : {{ participant.telephone }}</h3>
        <h3>Email : {{ participant.mail }}</h3>
        <h3>Site de rattachement : {{ participant.site }}</h3>

        {% if app.user == participant %}
            <a href="{{ path("modifierProfil") }}">
                <button type="button" class="btn btn-outline-secondary">modifier</button>
            </a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("supprimer", {id: participant.id}) }}">
                <button type="button" class="btn btn-outline-secondary">Supprimer</button>
            </a>
        {% endif %}
    </div>
{% endblock %}