{% extends 'base.html.twig' %}

{% form_theme sortieForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Ajouter une sortie{% endblock %}

{% block body %}

    <h3>Ajouter une sortie</h3>

    <div>

        {{ form_start(sortieForm) }}

        <div class="custom-control custom-checkbox">
            <input name="sortieCheck" class="custom-control-input" type="checkbox" id="sortieCheck"
                   onclick="affichageDivGroupe()">
            <label class="custom-control-label" for="sortieCheck">Sortie privée</label>
        </div>

        <div>
            {{ form_row(sortieForm.nom) }}

                <div id="div.groupe" hidden>
                    {{ form_row(sortieForm.groupe) }}
                </div>
            {{ form_row(sortieForm.dateDebut) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.dateCloture) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.descriptionInfos) }}
            {{ form_row(sortieForm.lieu) }}
            <div class="text-right">
                <a class="btn btn-secondary btn-sm" href="{{ path('nouveauLieu') }}">Ajouter un lieu</a>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-secondary" type="submit" name="enregistrer">Enregister</button>
            <button class="btn btn-secondary" type="submit" name="publier">Publier la sortie</button>
            {{ form_end(sortieForm) }}
        </div>
    </div>

{#    <script type="text/javascript">#}

{#        function affichageDivGroupe() {#}

{#            let etat = document.getElementById("sortieCheck").checked;#}
{#            let hidden = document.createAttribute("hidden");#}

{#            if (etat) {#}
{#                document.getElementById('div.groupe').removeAttribute('hidden');#}

{#            } else {#}
{#                document.getElementById('div.groupe').setAttributeNode(hidden);#}
{#            }#}
{#        }#}
{#    </script>#}

{% endblock %}
