{% extends 'base.html.twig' %}

{% form_theme sortieForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Ajouter une sortie{% endblock %}

{% block body %}

    <h3>Ajouter une sortie</h3>
    <div>
        <div>
            {{ form_start(sortieForm) }}
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateDebut) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.dateCloture) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.descriptionInfos) }}
            {{ form_row(sortieForm.lieu) }}

            {{ form_row(sortieForm._token) }}

            <div class="text-right">
                <button><a href="{{ path('nouveauLieu') }}">Ajouter un lieu</a></button>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" name="enregistrer">Enregister</button>
            <button type="submit" name="publier">Publier la sortie</button>
            {{ form_end(sortieForm, {'render_rest': false}) }}
{#            {{ form_end(sortieForm) }}#}
        </div>
    </div>
{% endblock %}
