{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Details</h1>
    <div class="row col-md-12">
        <div class="card detail col-md-6">
            <P>Nom de la sortie : {{ sortie.nom }}</P>
            <P>Date et heure de la sortie : {{ sortie.dateDebut|date('d-m-Y') }}</P>
            <P>Date limite d'inscription : {{ sortie.dateCloture|date('d-m-Y') }}</P>
            <P>Nombre de places : {{ sortie.nbInscriptionsMax }}</P>
            <P>Durée : {{ sortie.duree }} minutes</P>
            <P>Description et infos : {{ sortie.descriptionInfos }}</P>
        </div>
        <div class="card detail col-md-6">
            <p>Lieu : {{ sortie.lieu }}</p>
            <p>Rue : {{ sortie.lieu.rue }}</p>
            <p>Ville : {{ sortie.lieu.ville }}</p>
            <p>Code Postal : {{ sortie.lieu.ville.codePostal }}</p>
            <p>Latitude : {{ sortie.lieu.latitude }}</p>
            <p>Longitude : {{ sortie.lieu.longitute }}</p>
        </div>
    </div>
    {% if ( miseEnForme == 0) %}
        <div class="after-detail row">
            <a href="{{ path('inscription', {id : sortie.id}) }}">
                <button type="button" class="btn btn-outline-success btn-sm">S'inscrire</button>
            </a>
        </div>
    {% endif %}
    {% if ( miseEnForme == 1) %}
        <div class="after-detail row">
            <h4>Inscription terminée</h4>
        </div>
    {% endif %}
    {% if ( miseEnForme == 2) %}
        <div class="after-detail">
            <a href="{{ path('desinscription', {id : sortie.id}) }}">
                <button type="button" class="btn btn-outline-success btn-sm">se désinscrire</button>
            </a>
        </div>
    {% endif %}


    <div class="after-detail">
        <h3>
            Liste des participants inscrit :
        </h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participants %}
                <tr>
                    <th scope="row">
                        {% if app.user == participant %}
                            {{ participant.pseudo }}
                        {% else %}
                            <a href="{{ path('profil', {'id':participant.id}) }}">{{ participant.pseudo }}</a>
                        {% endif %}
                    </th>
                    <th scope="row">{{ participant.nom }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}