{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Sortir.com{% endblock %}

{% block body %}

    <h1>Gérer les sorties</h1>
    <div class="button-group">
        <button type="button" class="btn btn-outline-secondary"><a href="{{ path('nouvelleSortie') }}">Ajouter une
                sortie</a>
        </button>
        <p>Filtrer les sorties</p>
    </div>
    <form method="get">
        <div class="menuGauche">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Site</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    {% for site in sites %}
                        <option>{{ site.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="exampleFormControlSelect1">Le nom de la sortie contient :</label>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search"
                       aria-label="Search">
            </div>
            <div>
                <label for="exampleFormControlSelect1">Entre </label>
                <input class="form-control mr-sm-2" type="date">
                <label for="exampleFormControlSelect1">Et </label>
                <input class="form-control mr-sm-2" type="date">
            </div>
        </div>
        <div class="menuDroite">
            <div class="checkbox">
                <label><input type="checkbox" value="">Sorties dont je suis l'organisateur/trice</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Sorties auxquelles je suis inscrit/e</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Sorties auxquelles je ne suis pas inscrit/e</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Sorties passées</label>
            </div>

            <div>
                <button type="submit"><a href="{{ path('sortie') }}">Rechercher</a></button>
            </div>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        
        {% for sortie in sorties %}
            <tr>
                <th scope="row"><a href="{{ path('detailSortie', {id:sortie.id}) }}">{{ sortie.nom }}</a></th>
                <th scope="row">{{ sortie.dateDebut|date('d-m-Y') }}</th>
                <th scope="row">{{ sortie.dateCloture|date('d-m-Y') }}</th>
                <th scope="row">{{ sortie.nbInscriptionsMax }}</th>
                <th scope="row">{{ sortie.etat }}</th>
                <th scope="row">X</th>
                <th scope="row"><a href="{{ path('profil', {id:sortie.id}) }}">{{ sortie.organisateur }}</a></th>
                <td><a href="#"
                       onclick="$.ajax('{{ path('effacerSortie', {'id':sortie.id}) }}').done(function(){location.reload()}); ">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(".delete").click(function () {
            if (confirm("Etes vous sur de vouloir supprimer cette ville ?")) {
                $.ajax({
                    url: "/deleteZone/" + $(this).val(),
                })
                    .done(function () {
                        alert("Votre ville a bien été effacée !");
                        location.reload()
                    })
            }
        });
    </script>

{% endblock %}